@using MEMConsole.Client.Models
@using Microsoft.AspNetCore.Authorization
@inject MEMConsoleConnection memClient;
@inject IHttpClientFactory ClientFactory
@inject AdminServicev1 AdminService;
@attribute [Authorize]
@page "/Assets"
<h3>Assets</h3>

@smsRSystem